.container {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.page_box {
  display: flex;
  flex-direction: column;
}
.title_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.filter {
  width: 35%;
}
.cards_box {
  margin-right: 40px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 5px;
}
.btn {
    margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 2px solid blue;
  color: brown;
  padding: 20px;
  margin-top: 5px;
}
